:root {
    --bg-color: #21222c;
    --container-bg: #343746;
    --header-bg: #282a36;
    --text-color: white;
    --border-color: #343746;
}

[data-theme="light"] {
    /* Tema claro */
    --bg-color: #f5f5f5;
    --container-bg: #ffffff;
    --header-bg: #e0e0e0;
    --text-color: #333333;
    --border-color: #cccccc;
}

body {
    color: white;
    background-color: #21222c;
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.container {
    border-radius: 25px;
    background-color: #343746;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container-mais {
    text-align: center;
    padding: 0.1%;
}

header {
    border-radius: 25px;
    background-color: #282a36;
    padding: 0.3rem;
    text-align: center;
}

footer {
    border-radius: 25px;
    background-color: #282a36;
    padding: 0.3rem;
    text-align: center;
}

img {
    border: 6px solid #343746;
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}