body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #343746;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

header {
    background-color: #282a36;
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}